@import "../../../../styles/settings.module.scss";

.schemaContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem;

  background-color: $white-opacity;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
}
