@import "../../styles/settings.module.scss";

.transparent-nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7rem;
  position: absolute;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;

  .menu-open,
  .menu-close {
    color: $white;
    cursor: pointer;
    font-family: $font-family;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    transition: color 0.2s;
    display: flex;
    height: 100%;
    width: 15rem;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }

  .menu-open {
    background-color: $white;
    color: $black;
    &:hover {
      opacity: 1;
    }
  }
}

.nav-open,
.nav-close {
  background-color: $white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 2.5rem;
  position: relative;
  z-index: 1;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      overflow: hidden;

      a,
      p {
        color: $black;
        cursor: pointer;
        text-decoration: none;
        font-family: $font-family;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        transition: color 0.2s;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
.under-nav-open,
.under-nav-close {
  background-color: $white;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 15rem;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      overflow: hidden;

      a {
        color: $black;
        cursor: pointer;
        text-decoration: none;
        font-family: $font-family;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        transition: color 0.2s;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.under-nav-close {
  position: relative;
  top: -14rem;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: -2;
}

.under-nav-open {
  top: 6rem;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.nav-close {
  position: relative;
  top: -7rem;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: -2;
}

.nav-open {
  top: 0;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
