@import "../../styles/settings.module.scss";

.footer {
  background-color: $white;
  padding: 20px 0;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;

    @media (max-width: 919px) {
      height: 100%;
      flex-direction: column;
      gap: 0;
    }

    a {
      color: $black;
      cursor: pointer;
      text-decoration: none;
      font-family: $font-family;
      text-overflow: clip;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      transition: color 0.2s;

      &:hover {
        color: $yellow;
      }
    }
  }
}
