@import "../../styles/settings.module.scss";

.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white-opacity;
  min-height: calc(100vh - 28rem);

  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45rem;
    gap: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: $white;
    box-shadow: 0 0 1rem $black-opacity;

    .contactTitle {
      font-size: 3rem;
      font-weight: 600;
      color: $black;
    }

    .contactFormContainer {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      width: 100%;
      padding: 1rem;

      .contactFormContainerLeft {
        display: flex;
        flex-direction: column;
      }

      .contactFormContainerRight {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
